$color_green: #a5c926;
$color_white: #ffffff;
$color_gray: #f8f8f8;

// @mixin flex {
//   display: flex;
// }

//надо ли?
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.bg_green {
  background-color: $color_green;
}

//header

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color_white;
  height: 32px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;

  .usual_contacts {
    display: flex;
    gap: 20px;
  }

  .usual_contacts a {
    color: $color_white;
  }
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  font-size: 12px;

  .header_menu_flex {
    display: flex;
    gap: 50px;
  }

  .menu {
    display: flex;
    gap: 30px;
  }

  .cart {
    display: flex;
    align-items: center;
    gap: 20px;

    .total_products {
      // display: flex;
      // align-items: center;
      text-align: center;
      border-radius: 50%;
      background-color: $color_green;
      width: 20px;
      height: 20px;
      color: $color_white;
      font-size: 12px;
    }
  }
}
.main {
  background: $color_gray;
}

.section_main {
  background-image: url("../images/bg1.png");
  background-size: cover;
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;

  .main_title {
    width: 570px;
    height: 308px;
    background: #ffffff;
    border-radius: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      margin-top: 50px;
      font-size: 13px;
      line-height: 16px;
      color: $color_green;
    }

    h1 {
      font-family: "Varela Round", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 39px;
      line-height: 48px;
      text-align: center;
    }
  }
}

.green_button {
  background-color: $color_green;
  color: $color_white;
  border-radius: 24px;
  padding: 12px 28px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.sections {
  display: flex;
  gap: 50px;
  height: 460px;
  align-items: center;
  height: 460px;
  background: $color_gray;

  h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: $color_white;
  }

  .stuffed_animals {
    width: 570px;
    height: 188px;
    display: flex;
    align-items: center;
    background: #ffc12c;
    border-radius: 16px;
  }

  .img {
    position: relative;
    width: 220px;
    height: 220px;

    img {
      position: absolute;
      top: calc(50% - 220px / 2 - 42px);
    }
  }

  .stuffed_animals_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-left: 30px;
  }

  .wooden_toys {
    width: 570px;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #fb416b;
    border-radius: 16px;
    // .img {
    //   margin-left: 40px;
    // }
  }

  .wooden_toys_title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    margin-left: 70px;
  }

  .white_button {
    background: $color_white;
    border-radius: 20px;
    padding: 8px 24px;
    font-size: 13px;
    line-height: 24px;
  }
}

.toy_section {
  display: flex;
  flex-direction: column;
  height: 588px;
}

.toy_section_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-family: "Varela Round";
    font-style: normal;
    font-size: 28px;
    line-height: 36px;
  }

  div {
    padding-bottom: 5px;
    border-bottom: 2px solid #dddddd;
  }
}

.toy_section_line {
  padding: 40px 0px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  .card {
    width: 270px;
    height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: $color_white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }

  .card_img {
    width: 182px;
    height: 182px;

    img {
      width: 100%;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  .price_button {
    background: $color_green;
    border-radius: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $color_white;
    padding: 2px 12px;
  }
}
